
 /* 
############
# UTILS
############ 
*/

/*Field action */
.sv-field-action{
	display: flex;	
}

/*Field action icon */
.sv-field-action__icon{
	margin: 6px 0 0 5px;
}

.sv-required > .control-label:after {
	content: "*";
}


/* 
############
# COMPONENTS
############ 
*/

.sv-glyphicon-large{
	font-size: 19px;
}

/* Upload */
.sv-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.sv-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.sv-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}
