
 /* 
############
# UTILS
############ 
*/

/*Field action */
.sv-field-action{
	display: flex;	
}

/*Field action icon */
.sv-field-action__icon{
	margin: 6px 0 0 5px;
}

.sv-required > .control-label:after {
	content: "*";
}


/* 
############
# COMPONENTS
############ 
*/

.sv-glyphicon-large{
	font-size: 19px;
}

/* Upload */
.sv-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.sv-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.sv-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Colunas - Pesquisa de Cervejas */
.table-veiculos-col-foto {
	min-width: 50px;
	width: 50px
}

.table-veiculos-col-placa {
	width: 90px;
	text-align: center;
}

.table-veiculos-col-identificacao {
	
}

.table-veiculos-col-fabricante {
	width: 120px;
}

.table-veiculos-col-origem {
	width: 100px;
}

.table-veiculos-col-num-lugares {
	width: 100px;
	text-align: right;
}

.table-veiculos-col-acoes {
	width: 80px;
}
