<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/layout_default'">

<head>
	<title>Cadastro Veículo</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
			
				<h1>Cadastro de Veículo</h1>
				
			</div>
		</div>
		<div class="container-fluid">
			
			<th:block th:include="fragments/success_message"></th:block>
			
			<form method="POST" th:object="${veiculo}" class="form-vertical  js-form-loading">
				<th:block th:include="fragments/error_message"></th:block>
			
				<div class="form-group">
					<label for="identificacao">Identificação</label>
					<input id="identificacao" type="text" class="form-control" th:field="*{identificacao}"/>
				</div>
				
				<div class="form-group">
					<label for="descricao">Descrição</label>
					<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>
				
				<div class="row">
					<div class="col-sm-3  form-group">
						<label for="categoria">Modelo</label>
						<div class="sv-field-action">
							<select id="categoria" class="form-control">
								<option value="">Selecione um modelo</option>
								<option value="1">Pale lager</option>
							</select>
							
							<div class="sv-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#cadastroRapCateg">
									<i class="glyphicon glyphicon-plus-sign sv-glyphicon-large"></i>
								</a>
							</div>
							
						</div>
					</div>
					
					<div class="col-sm-3  form-group">
						<label for="fabricante">Fabricante</label>
						<div class="sv-field-action">
							<select id="fabricante" class="form-control">
								<option value="">Selecione um fabricante</option>
								<option value="1">Pale lager</option>
							</select>
							
							<div class="sv-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#cadastroRapCateg">
									<i class="glyphicon glyphicon-plus-sign sv-glyphicon-large"></i>
								</a>
							</div>
							
						</div>
					</div>
					<div class="col-sm-3  form-group">
						<label for="categoria">Espécie</label>
						<select id="categoria" class="form-control">
							<option value="">Selecione uma espécie de veículo</option>
							<option th:each="esp : ${especies}" th:value="${esp}" th:text="${esp.description}"></option>
						</select>
					</div>
					<div class="col-sm-3 form-group">
						<label for="chassi">Número de lugares</label>
						<input id="chassi" type="text" class="form-control js-number"/>
					</div>
					
				</div>
				<div class="row">
				
					<div class="col-sm-3 form-group">
						<label for="horimetro">Horimetro</label>
						<div class="input-group">
							<input id="horimetro" type="text" class="form-control"/>
							<div class="input-group-addon">Km</div>
						</div>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="placa">Placa</label>
						<input id="placa" type="text" class="form-control"/>
					</div>
				
					<div class="col-sm-3 form-group">
						<label for="chassi">Chassi</label>
						<input id="chassi" type="text" class="form-control"/>
					</div>					

				</div>
				<div class="row">
				
					<div class="col-sm-3 form-group">
						<label for="cidade">Cidade</label>
						<input id="cidade" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-3  form-group">
						<label for="uf">UF</label>
						<select id="uf" class="form-control">
							<option value="">Selecione um estado</option>
							<option value="1">Pale lager</option>
						</select>
					</div>
					
					<div class="col-sm-3  form-group">
						<label for="anoAquisicao">Ano de aquisição</label>
						<input id="anoAquisicao" type="text" class="form-control  js-number"/>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a href="pesquisa_veiculo.html" class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>
		
		<div th:replace="categoria/cadastro_rapido ::modal"></div>
		
	</section>
</body>
</html>