<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/layout_default'"
	xmlns:sigav="http://sigav.faj.com">

<head>
	<title>Cadastro Veículo</title>
</head>

<body>
	<section layout:fragment="content">

		<div class="page-header">
			<div class="container-fluid">
			
				<h1>Cadastro de Veículo</h1>
				
			</div>
		</div>
		<div class="container-fluid">
			
			<th:block th:include="fragments/success_message"></th:block>
			
			<form method="POST" th:object="${veiculo}" class="form-vertical  js-form-loading">
				<th:block th:include="fragments/error_message"></th:block>
			
				<div class="form-group" sigav:classforerror="identificacao">
					<label for="identificacao" class="control-label">Identificação</label>
					<input id="identificacao" type="text" class="form-control" th:field="*{identificacao}"/>
				</div>
				
				<div class="form-group" sigav:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição</label>
					<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
				</div>
				
				<div class="row">
					
					<div class="col-sm-4  form-group"  sigav:classforerror="fabricante">
						<label for="fabricante" class="control-label">Fabricante</label>
						<div class="sv-field-action">
							<select id="fabricante" class="form-control" th:field="*{fabricante}">
								<option value="">Selecione um fabricante</option>
								<option th:each="fab : ${fabricantes}" th:value="${fab.id}" th:text="${fab.nome}"></option>
							</select>
							
							<div class="sv-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#cadastroRapidoFab">
									<i class="glyphicon glyphicon-plus-sign sv-glyphicon-large"></i>
								</a>
							</div>
							
						</div>
					</div>
					<div class="col-sm-4  form-group" sigav:classforerror="especieVeiculo">
						<label for="especie" class="control-label">Espécie</label>
						<select id="especie" class="form-control" th:field="*{especieVeiculo}">
							<option value="">Selecione uma espécie de veículo</option>
							<option th:each="esp : ${especies}" th:value="${esp}" th:text="${esp.description}"></option>
						</select>
					</div>
					<div class="col-sm-4 form-group">
						<label for="nLugares">Número de lugares</label>
						<input id="nLugares" type="text" class="form-control js-plain" th:field="*{numeroLugares}"/>
					</div>
					
				</div>
				<div class="row">
				
					<div class="col-sm-4 form-group" sigav:classforerror="horimetro"> 
						<label for="horimetro" class="control-label">Horimetro</label>
						<div class="input-group">
							<input id="horimetro" type="text" class="form-control js-decimal" th:field="*{horimetro}"/>
							<div class="input-group-addon">Km</div>
						</div>
					</div>
					
					<div class="col-sm-4  form-group">
						<label for="anoAquisicao">Ano de aquisição</label>
						<input id="anoAquisicao" type="number" class="form-control" th:field="*{anoAquisicao}"/>
					</div>
					
					<div class="col-lg-4  col-sm-6  form-group" sigav:classforerror="origin">
						<label for="origin" class="control-label">Origem</label>
						<div>
							<th:block th:each="origin : ${origins}">
								<div class="radio  radio-inline">
									<input th:id="|id_${origin}|" type="radio" th:value="${origin}" th:field="*{origin}"> 
									<label th:for="|id_${origin}|" th:text="${origin.description}">Proprio</label>
								</div>
							</th:block>
						</div>
					</div>
					
				</div>
				<div class="row">
					
					<div class="col-sm-4 form-group" sigav:classforerror="placa">
						<label for="placa" class="control-label">Placa</label>
						<input id="placa" type="text" class="form-control" th:field="*{placa}"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="cidade" class="control-label">Cidade</label>
						<input id="cidade" type="text" class="form-control"/>
					</div>
					
					<div class="col-sm-4  form-group">
						<label for="uf" class="control-label">UF</label>
						<select id="uf" class="form-control">
							<option value="">Selecione um estado</option>
							<option value="1">Pale lager</option>
						</select>
					</div>

				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
					<a href="pesquisa_veiculo.html" class="btn  btn-default">Cancelar</a>
				</div>
			</form>
		</div>
		
		<div th:replace="fabricante/cadastro_rapido ::modal"></div>
		
	</section>
	
	<th:block layout:fragment="js-extra">
		<script th:src="@{/javascripts/fabricante.cadastro-rapido.js}"></script>
	</th:block>
</body>
</html>